.Container{
    display: flex ;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    vertical-align: middle;
}
.w-80{
    width: 80vw;
    
    
}